@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
   
   <h2>Nếu có vấn đề gì vui lòng liên hệ </h2>

    <address>
        <strong>Hotline:</strong>   <a class="text-dark">0838789215</a><br />
        <strong>Marketing:</strong> <a class="text-dark" href="Email:Nhasachonline@shop.com">Nhasachonline@shop.com</a>
    </address>
</main>